<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxszd.background.mapper.TOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hxszd.background.entity.TOrder">
    <result column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="custom_name" property="customName" />
        <result column="custom_contact" property="customContact" />
        <result column="custom_id" property="customId" />
        <result column="create_date" property="createDate" />
        <result column="last_modified" property="lastModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        order_no, custom_name, custom_contact, custom_id, create_date, last_modified
    </sql>

</mapper>
