<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxszd.background.mapper.TTicketMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hxszd.background.entity.TTicket">
    <result column="id" property="id" />
        <result column="line_id" property="lineId" />
        <result column="ticket_num" property="ticketNum" />
        <result column="left_stock" property="leftStock" />
        <result column="create_date" property="createDate" />
        <result column="last_modified" property="lastModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        line_id, ticket_num, left_stock, create_date, last_modified
    </sql>

</mapper>
